@font-face {
    font-family: Poppins;
    src: url(../public/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(../public/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../public/Roboto-Regular.ttf);
}

* {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F7F7FC;
}

.App {
    padding: 64px;

    main {
        padding: 64px;
        border: 4px solid #E8E8E8;
        border-radius: 19px;
        box-shadow: rgba(0, 0, 0, 0.13) 1.95px 1.95px 2.6px;
    }
}